* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1 {
    font-family: 'Monoton', cursive;
}

h2,
h3,
h4,
p,
li {
    font-family: 'Oxygen', sans-serif;
}

.proSummary {

    text-align: center;
}

header {
    background-image: url(../images/James-Webb-Telescope.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;

}

.navbar {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 20px;

}

.navbar ul li a {
    display: flex;
    justify-content: flex-start;
    color: white;
    list-style: none;
    text-decoration: none;
}

.navbar li {
    background-color: black;
    border-radius: 10px;
}

.navbar li:hover {
    background-color: #62CDFF;

}

.navbar a {
    margin: 30px;
    font-size: 20px;
}

.navbar a:hover {
    color: #FF8400;
}


.img-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    transition: all 0.5 ease;
}

.img-profile {
    width: 300px;
    border: 3px solid #62CDFF;
    border-radius: 50%;
    margin-right: 200px;
    margin-top: 100px;

}


.my-name {
    padding-top: 100px;
    color: white;
    text-align: center;


}

.my-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    padding-left: 100px;

}

.my-title h2 {
    font-size: clamp(3rem, 3vw, + 1rem, 6rem);
    padding: 10px;


}

.professional-summary {
    background-color: black;
    color: white;
    padding: 120px;
    text-align: justify;

}

.summary-p {
    padding-top: 30px;
    font-size: 20px;
}


.work-experience,
.personal-projects {

    padding: 100px;
    background-color: black;
    width: 100%;

}

span {
    color: #62CDFF;
}

.item5 li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.piich-link {
    font-size: 15px;
}

.wrapper {
    margin: 0 0 20px 0;
    padding: 10px;
    display: grid;
    grid-gap: 30px;
    justify-content: center;
    align-content: end;
}

.box {
    background-color: #0e1c3b;
    color: #fff;
    border-radius: 5px;
    font-size: 150%;
    padding: 30px;
    font-size: 20px;
    text-align: justify;
}

.box h3 {
    color: #62CDFF;
}

.item1 {
    display: flex;
    justify-content: space-evenly;
    grid-column: 1 / 5;
    align-items: center;
    color: #62CDFF;

}

.fa-briefcase {
    font-size: 30px;
}

.item2 {
    grid-column: 1 / 3;
    grid-row: 2 / 4;

}

.item3 {
    grid-column: 3 / 5;

}

.item4 img {
    margin: 15px;

}

.personal-proyects {
    padding-top: 100px;
}

.item4 img {
    width: 25px;
}

.brands {
    line-height: 50px;
}

.fa-brands {
    font-size: 30px;
}


.project-containter {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 300px 1fr;
    grid-template-rows: repeat(3, 1fr);


}



.box-pro {
    background-color: #0e1c3b;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    grid-column: 1;
    grid-row: 1 / 4;
    color: #62CDFF;
}


.b span {
    color: #62CDFF;
    margin-left: 50px;
    font-size: 20px;
}

.c span {
    color: #62CDFF;
    margin-left: 50px;
    font-size: 20px;
}

.d span {
    color: #62CDFF;
    margin-left: 50px;
    font-size: 20px;
}

.fa-hand-point-left {
    margin-left: 30px;
}

.fa-airbnb {
    color: #d696f1;
    font-size: 30px;
}

.fa-floppy-disk {
    font-size: 30px;
    color: #088395;
}

.fa-rocket {
    color: white;
    font-size: 30px;
}

.seed {
    width: 80px;
    height: 80px;
    filter: invert(100%);
}

.piich-logo {
    width: 40px;



}

footer {

    background-color: #525e75;
    padding: 5rem;
    font-size: 1.5rem;
}

footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

footer i {
    margin: 50px;
    color: #62CDFF;
}

footer p {
    font-size: 20px;
    color: #fff;
    text-align: center;
}


@media only screen and (max-width: 900px) {

    header {

        height: 35vh;

    }

    .my-title {

        padding-right: 100px;
    }

    .img-profile {
        width: 200px;
        margin: auto;
    }


    .img-container {
        width: 100%;
        display: flex;
        justify-content: center;



    }

    .item2,
    .item3,
    .item4 {
        grid-column: 1 / 5;


    }

    .a,
    .b,
    .c,
    .d {
        grid-column: 1 /4;

    }

}


@media (max-width: 768px) {

    .my-name {
        padding: 30px;
    }

    .my-title {
        padding-top: 50px;
        padding-right: 100px;
    }

    .professional-summary {
        padding: 20px;

    }

    .personal-projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .item1 {
        grid-column: 1 / 5;
        align-items: center;

    }

    .item2,
    .item3,
    .item4 {
        grid-column: 1 / 5;


    }


    .box {
        margin-bottom: 10px;
        font-size: 15px;
    }

    .a,
    .b,
    .c,
    .d {
        grid-column: 1 /4;

    }


}

@media (max-width: 380px) {
    .my-title {

        padding-top: 130px;
    }

}